.form-fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
  border: none;
}
.form__input_type_error {
  border-bottom-color: red;
}

.form__input-error {
  top: 160px;
  left: 40px;
  height: 35px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  max-width: 330px;
}
